<h1>Event Saver</h1>

<h3>Save wishes</h3>

<ul>
  {{#each wishes}}
  	<li>
  	   <p>ID: {{id}}</p>
       <p>Event: {{wish}}</p>
  	</li>
  {{/each}}
</ul>

<form action="/" method="POST">
	<textarea type="text" name="wish"></textarea>

	<button type="submit">Submit</button>
</form>