
<ul class='list-group'>
	<div class='container' style='width:150px; color:red; background-color:cyan'>
		{{#each animals}}
		  <li class='list-group-item' style='background-color: yellow;'>Type:       {{animalType}}</li>
		  <li class='list-group-item' style='background-color: yellow;'>Pet:        {{pet}}</li>
		  <li class='list-group-item' style='background-color: yellow;'>Fierceness: {{fierceness}}</li>
		  <br>
		{{/each}}
	</div>	
</ul>
	
